{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="timer-container">
    <p id="isPaused" style="color: #ff2700; font-weight: 600; display: none;">Timer Pausado*</p>

    <div class="timer" id="timer">
      <div class="display">
        <p class="digit" id="hours">00</p>
        <p class="separator">:</p>
        <p class="digit" id="minutes">00</p>
        <p class="separator">:</p>
        <p class="digit" id="seconds">00</p>
      </div>

      <div class="buttons">
        <button id="startBtn" class="timer-button">Iniciar</button>
        <button id="pauseBtn" style="display: none;" class="timer-button">Pausar</button>
        <button id="resumeBtn" style="display: none;" class="timer-button">Continuar</button>
        <form class="timer-form" method="POST" action="{% url 'studies:finalizar_sessao' %}">
          {% csrf_token %}
          <button id="finishBtn" style="display: none;" type="submit" class="timer-button">Finalizar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/timer.js' %}"></script>
{% endblock %}
